{% extends 'base.html' %}
{% block title %}Page d'accueil{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><span><b>Bienvenue Dans Note Projet Django 😀<b></span></button></h1>
                <br>
        </div>
    </div>
    <nav>
        <ul class="nav justify-content" style="gap: 1.5cm;">
            <li class="nav-item">
                <button class="btn btn-none" style="background-color:#11497c;"><a style="color: white;text-decoration: none;" href="/magasin/">Application n°1 : Magasin</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-none" style="background-color:#11497c;"><a style="color: white;text-decoration: none;" href="/blog/">Application n°2 : Blog</a></button>
            </li>
        </ul>
    </nav>
    <div class="row mt-5">
        <div class="col-md-12">
            <div id="contenu">
                <h2>Projet de Django</h2>
                <p>2 eme Developpement systeme d'information M1</p>
            </div>
            <p id="footer" class="text-center">Nous sommes content de vous voir !</p>
        </div>
    </div>
</div>
{% endblock %}
