{% extends "../base.html" %}
{% block title %}Détails du Post{% endblock title %}
{% block content %}
<div class="container">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text"><strong>Auteur:</strong> {{ post.author }}</p>
            <p class="card-text"><strong>Mise à jour:</strong> {{ post.updated_on }}</p>
        </div>
        <div class="card-body">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid mb-3 rounded" alt="Image du Post">
            {% endif %}
            <p class="card-text"><strong>Contenu:</strong></p>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer bg-light">
            <a href="{% url 'liste_posts' %}" class="btn btn-warning">Retour à la liste des posts</a>
        </div>
    </div>
</div>
{% endblock %}
