{% extends 'base.html' %}
{% block title %}Ajouter fournisseur{% endblock %}
{% block content %}
<div class="col-md-12 text-center">
    <h2><b>- Ajouter Fournisseur -</b></h2>
</div>
<form method="POST" class="post-form" >
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-info">Enregistrer fournisseur</button>
</form>
<center><h2><b>- liste de fournisseurs -</b></h2></center>

<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom fournisseur</th>
          <th scope="col">Adresse fournisseur</th>
          <th scope="col">Email fournisseur</th>
          <th scope="col">Téléphone fournisseur</th>
        </tr>
      </thead>
      <tbody>
        {% for fournisseur in fournisseurs %}
        <tr>
          <td>{{ fournisseur.nom }}</td>
          <td>{{ fournisseur.adresse }}</td>
          <td>{{ fournisseur.email }}</td>
          <td>{{ fournisseur.telephone }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}