{% extends 'base.html' %}
{% block title %}Ajouter fournisseur{% endblock %}
{% block content %}
<div class="col-md-12 text-center">
    <h2><b>Ajouter Fournisseur</b></h2>
</div>
<form method="POST" class="post-form" >
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-info">Enregistrer un fournisseur</button>
</form>
<center><h2><b>La liste de fournisseurs</b></h2></center>
<hr>

<div class="container">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"><b>Nom fournisseur</b></th>
          <th scope="col"><b>Adresse fournisseur</b></th>
          <th scope="col"><b>Email fournisseur</b></th>
          <th scope="col"><b>Telephone fournisseur</b></th>
        </tr>
      </thead>
      <tbody>
        {% for fournisseur in fournisseurs %}
        <tr>
          <td>{{ fournisseur.nom }}</td>
          <td>{{ fournisseur.adresse }}</td>
          <td>{{ fournisseur.email }}</td>
          <td>{{ fournisseur.telephone }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}